<div class='cirrius-main-bar'>
	<a class='button' {{action 'delete'}}>
		<i class='color-blue'>&#xE872;</i>
	</a>
	<div class='cirrius-main-bars-text'>
		<a class='spaces' {{action 'edit'}}>{{last (split "/" model.path)}}</a>
	</div>
</div>

<div class='cirrius-main-big-sec-content'>
	{{editable-code value=model.content onchange=(action (mut model.content))}}
</div>
