<div class='cirrius-main-bar'>
	<a class='icon' {{action 'delete'}}>
		<i>&#xE872;</i>
	</a>
	<div class='cirrius-main-bars-text'>
		{{model.time}}
	</div>
</div>

<div class='cirrius-main-big-sec-content'>
	<div class='cirrius-main-settings'>
		<div class='element'>
			<span class='element-title'>{{model.name}}</span>
			<br><br>
			{{model.info}}
		</div>
	</div>
</div>
