<div class='cirrius-main-bar'>
	<div class='cirrius-main-bars-text'></div>
</div>

<div class='cirrius-main-big-sec-content-placeholder'>
	Select an option from the left or<br>
	<a {{action 'create'}}>Create a new file</a>
</div>
