<div class='cirrius-main-bar'>
	<div class='cirrius-main-bars-text'></div>
</div>

<div class='cirrius-main-big-sec-content-placeholder'>
	No file selected
	<div class='cirrius-main-big-sec-content-placeholder-button' {{action 'create'}}>
		<a>Create a new file</a>
	</div>
</div>
