<div class="OnlinePlatforms-status-left">

	<div class="OnlinePlatforms-status-block-large OnlinePlatforms-status-block-red {{if socket.offline 'show'}}">
		You don't seem to be connected to the internet. Some functionality may not be available.
	</div>

	<div class="OnlinePlatforms-status-block-large OnlinePlatforms-status-block-green {{if version.update 'show'}}">
		An update to this web application is available. Please <a {{action 'refresh'}}>refresh</a> the page.
	</div>

</div>

<div class="OnlinePlatforms-status-right">

    <div class="OnlinePlatforms-status-block-small OnlinePlatforms-status-block-orange" id="OnlinePlatforms-status-ajax">Loading...</div>

</div>