<div class="right">

    <a {{action 'route' 'login'}}>Login</a>
    &nbsp;&nbsp;|&nbsp;&nbsp;

    <a {{action 'route' 'register'}}>Register</a>
    &nbsp;&nbsp;|&nbsp;&nbsp;

    <a {{action 'route' 'forgot'}}>Forgot my password</a>
    {{!-- &nbsp;&nbsp;|&nbsp;&nbsp; --}}

    {{!-- <a {{action 'route' 'tc'}}>Terms &amp; Conditions</a> --}}

</div>